<div class="top-info">

  <img src="../../assets/img/logo.png" alt="logo" style="float: left; max-height: 100%">

  <span class="flag-icon flag-icon-gb"
        style="float: right; cursor: pointer; height: 30px; width: 30px; margin: 12px;"></span>
  <span class="flag-icon flag-icon-gr"
        style="float: right; cursor: pointer; height: 30px; width: 30px; margin: 12px"></span>
  <button mdbBtn type="button" class="btn btn-outline-info waves-effect"
          style="float: right; font-family: 'Trebuchet MS'">Get Quote Now!
  </button>
  <div *ngIf="cookieService.get('loggedIn') == ''">
    <div id="transporter_login_div">
      <button (click)="displayLoginTransporter()" id="transporter_login_button" mdbBtn type="button" color="elegant"
              class="btn btn-elegant" mdbWavesEffect
              style="float: right; font-family: 'Trebuchet MS'"><i
        class="fa fa-truck fa-lg mr-3" aria-hidden="true"></i>Transporter Login
      </button>
      <div id="login_transporter" class="login_forms" style="width: 220px;">

        <form method="post">

          <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <div class="checkbox checkbox-success">
              <input id="transporter_remember_me" class="styled" type="checkbox" checked>
              <label for="transporter_remember_me">
                Remember Me
              </label>
            </div>
          </div>

          <div class="container">
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>

      </div>
    </div>
    <div id="individual_login_div">
      <button mdbBtn (click)="displayLoginIndividual()" id="individual_login_button" type="button" color="elegant"
              class="btn btn-elegant"
              mdbWavesEffect
              style="float: right; font-family: 'Trebuchet MS'"><i
        class="fa fa-user-o fa-lg mr-3" aria-hidden="true"></i>Individual Login
      </button>

      <div id="login_individual" class="login_forms" style="width: 210px;">

        <form #myform="ngForm" (ngSubmit)="loginIndividual(username, password)">

          <div class="container">
            <label for="individual_login_username"><b>Username</b></label>
            <input #username id="individual_login_username" type="text" placeholder="Enter Username" name="username" required>

            <label for="individual_login_password"><b>Password</b></label>
            <input #password id="individual_login_password" type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>

            <div class="container" *ngIf="individualLoginSuccessful == false">
              <span class="errorMessage">{{errorMessage}}</span>
            </div>

            <div class="checkbox checkbox-success">
              <input id="individual_remember_me" class="styled" type="checkbox" checked>
              <label for="individual_remember_me">
                Remember Me
              </label>
            </div>

          </div>

          <div class="container">
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>

      </div>

    </div>
  </div>
  <div *ngIf="cookieService.get('loggedIn') === 'yes'">
    <button (click)="logout()" id="logout_button" mdbBtn type="button" color="amber"
            class="btn btn-elegant" mdbWavesEffect
            style="float: right; font-family: 'Trebuchet MS'">Logout
    </button>
    <div>
      <h2 style="float: right; margin-right: 20px; margin-top: 10px; font-family: 'Trebuchet MS'; font-weight: 800">Welcome <i>{{username}}</i></h2>
    </div>
  </div>

</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="my_navbar">

    <ul class="navbar-nav mr-auto" style="margin-left: 30px">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color: #02AFF1; font-weight: 900; font-family: 'Trebuchet MS'">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #02AFF1; font-weight: 900; font-family: 'Trebuchet MS'">Post Moving
          Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #02AFF1; font-weight: 900; font-family: 'Trebuchet MS'">Search Moving
          Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #02AFF1; font-weight: 900; font-family: 'Trebuchet MS'">Contact
          Us</a>
      </li>
    </ul>
    <button *ngIf="cookieService.get('loggedIn') == ''" type="button" class="btn btn-warning register-button">Register</button>

  </div>

</nav>

<div id="initial_poster_content" style="width: 100%; background: #02AFF1; padding-top: 30px">

  <div id="initial_poster_text" style="height: 300px; width: 100%">

    <div id="initial_poster_header" style="height: 40%; width: 100%;">
      <h1 class="main_header" style="color: #FFFFFF !important;">MOVE ANYTHING IN JUST 3 STEPS!</h1>
    </div>

    <div id="initial_poster_features" style="height: 60%; width: 100%;">

      <div id="poster_left_whitespace" style="float: left; height: 100%; width: 5%;"></div>

      <div id="poster_first_feature" style="float: left; height: 100%; width: 30%;">
        <div style="height: 70%; width: 100%;">
          <div
            style="height: 100px; width: 100px; border-radius: 50%; background: #FFFFFF; margin: auto; text-align: center">
            <i class="fa fa-truck fa-3x" style="line-height: 100px; color: #02AFF1"></i>
          </div>
        </div>
        <div style="height: 30%; width: 100%; text-align: center">
          <h4 style="color: #FFFFFF; font-family: 'Trebuchet MS'; font-weight: 600">Post your moving request</h4>
        </div>
      </div>

      <div id="poster_second_feature" style="float: left; height: 100%; width: 30%;">
        <div style="height: 70%; width: 100%">
          <div
            style="height: 100px; width: 100px; border-radius: 50%; background: #FFFFFF; margin: auto; text-align: center;">
            <i class="fa fa-bolt fa-3x" style="line-height: 100px; color: #02AFF1"></i>
          </div>
        </div>
        <div style="height: 30%; width: 100%; text-align: center">
          <h4 style="color: #FFFFFF; font-family: 'Trebuchet MS'; font-weight: 600">Receive online offers</h4>
        </div>
      </div>

      <div id="poster_third_feature" style="float: left; height: 100%; width: 30%;">
        <div style="height: 70%; width: 100%">
          <div
            style="height: 100px; width: 100px; border-radius: 50%; background: #FFFFFF; margin: auto; text-align: center">
            <i class="fa fa-thumbs-up fa-3x" style="line-height: 100px; color: #02AFF1"></i>
          </div>
        </div>
        <div style="height: 30%; width: 100%; text-align: center">
          <h4 style="color: #FFFFFF; font-family: 'Trebuchet MS'; font-weight: 600">Choose the best</h4>
        </div>
      </div>

      <div id="poster_right_whitespace" style="float: right; height: 100%; width: 5%;"></div>

    </div>

  </div>

</div>

<div id="main_content_image">

  <img src="../../assets/img/content.png" alt="content" width="100%">

</div>

<div id="our_services_header" style="margin: auto; width: 50%">

  <h2 class="main_header">OUR SERVICES</h2>

</div>

<div id="services" style="width: 100%;">

  <div id="services_boxes" style="margin: auto; width:70%">

    <div class="box leftbox">
      <img class="img-responsive" src="../../assets/img/car1.png" alt="vehicle">
      <h4>Vehicles & Boats</h4>
      <h6 style="text-align: center">Cars, Motorcycles, RVs, Trailers, Parts</h6>
    </div>

    <div class="box middlebox">
      <img class="img-responsive" src="../../assets/img/fridge1.png" alt="household">
      <h4>Household Items</h4>
      <h6 style="text-align: center">Furniture, Appliances</h6>
    </div>

    <div class="box rightbox">
      <img class="img-responsive" src="../../assets/img/moves1.png" alt="moves">
      <h4>Moves</h4>
      <h6 style="text-align: center">Apartment, Home, Office</h6>
    </div>

    <div class="box leftbox">
      <img class="img-responsive" src="../../assets/img/truck1.png" alt="heavy">
      <h4>Heavy Equipment</h4>
      <h6 style="text-align: center">Farm, Construction</h6>
    </div>

    <div class="box middlebox">
      <img class="img-responsive" src="../../assets/img/freight1.png" alt="freight">
      <h4>Freight</h4>
      <h6 style="text-align: center">Less-than-container, Container</h6>
    </div>

    <div class="box rightbox">
      <img class="img-responsive" src="../../assets/img/dog1.png" alt="animal">
      <h4>Animals</h4>
      <h6 style="text-align: center">Dogs, Cats, Livestock</h6>
    </div>

  </div>

</div>

<div id="get_quick_quote_now_button" style="width: 100%">

  <button type="button" class="btn btn-success get_quote_buttons">GET QUICK QUOTE NOW!</button>

</div>

<div id="how_it_works_header" style="margin: auto; width: 50%">

  <h2 class="main_header">How It Works</h2>

</div>

<div id="how_it_works_image">

  <!--  <img src="../../assets/img/howitworks2.png" alt="how_it_works" style="width: 100%;">-->

  <div id="how_it_works_text" style="height: 300px; width: 100%;">

    <div id="how_it_works_left_whitespace" style="float: left; height: 100%; width: 5%;"></div>

    <div id="how_it_works_1" style="float:left; width: 26%; height: 100%; margin: 0 25px;">
      <div style="height: 55%; width: 100%"></div>
      <div style="height: 15%; width: 100%; text-align: center;">
        <h4 class="main_header" style="color: #FFFFFF !important; line-height: 45px">List Your Delivery</h4>
      </div>
      <div style="height: 25%; width: 100%; text-align: center; margin-top: 15px">
        <h6 style="color: #FFFFFF; font-family: 'Trebuchet MS';">Write a quick description and post your request.</h6>
      </div>
    </div>

    <div id="how_it_works_2" style="float:left; width: 26%; height: 100%; margin: 0 25px;">
      <div style="height: 55%; width: 100%"></div>
      <div style="height: 15%; width: 100%; text-align: center;">
        <h4 class="main_header" style="color: #FFFFFF !important; line-height: 45px">Receive Free Quotes</h4>
      </div>
      <div style="height: 25%; width: 100%; text-align: center; margin-top: 15px">
        <h6 style="color: #FFFFFF; font-family: 'Trebuchet MS';">Receive free, no obligation quotes. All online with no
          sales calls.</h6>
      </div>
    </div>

    <div id="how_it_works_3" style="float:left; width: 26%; height: 100%; margin: 0 25px;">
      <div style="height: 55%; width: 100%"></div>
      <div style="height: 15%; width: 100%; text-align: center;">
        <h4 class="main_header" style="color: #FFFFFF !important; line-height: 45px">Compare, Choose and Save</h4>
      </div>
      <div style="height: 25%; width: 100%; text-align: center; margin-top: 15px">
        <h6 style="color: #FFFFFF; font-family: 'Trebuchet MS';">Customers usually receiving quotes after minutes.</h6>
      </div>
    </div>

    <div id="how_it_works_right_whitespace" style="float: right; height: 100%; width: 5%;"></div>

  </div>

</div>

<div id="latest_moving_requests_content">

  <div id="latest_moving_requests_header" style="margin: auto; width: 50%">

    <h2 class="main_header"><i class="fa fa-truck fa-lg mr-3" aria-hidden="true"></i>Latest moving requests</h2>

  </div>

  <div id="latest_moving_requests" style="width: 70%; height: 220px; margin: 40px auto; display: block">

    <div id="left_moving_request" class="moving_request_box" style="float: left">

      <h3 class="sub_header">Removals - Transports</h3>
      <h5 class="sub_header">Office Removal</h5>

      <table style="margin: 30px auto; width: 80%;">
        <tr>
          <td style="padding: 0px 20px;">From:</td>
          <td style="padding: 0px 20px;">Batumi, Georgia</td>
        </tr>
        <tr>
          <td style="padding: 0px 20px;">To:</td>
          <td style="padding: 0px 20px;">Annaba, Algeria</td>
        </tr>
      </table>

    </div>

    <div id="right_moving_request" class="moving_request_box" style="float: right;">
      <h3 class="sub_header">Removals - Transports</h3>
      <h5 class="sub_header">Office Removal</h5>

      <table style="margin: 30px auto; width: 80%;">
        <tr>
          <td style="padding: 0px 20px;">From:</td>
          <td style="padding: 0px 20px;">Annaba, Algeria</td>
        </tr>
        <tr>
          <td style="padding: 0px 20px;">To:</td>
          <td style="padding: 0px 20px;">Sheshi Liria, 15, Durres, Albania</td>
        </tr>
      </table>
    </div>

  </div>

  <div id="view_all_requests_button" style="width: 100%">

    <button type="button" class="btn btn-success">View All Requests</button>

  </div>

</div>

<div id="testimonials">

  <div id="testimonials_header" style="margin: 20px auto; width: 50%;">

    <h2 class="main_header">Testimonials</h2>

  </div>

  <div id="testimonial" style="margin: 20px auto; width: 50%;">

    <h5 class="testimonial">"You are in good hands!"</h5>

  </div>

  <div id="people_found_the_transporter_they_needed" style="margin: 20px auto; width: 100%; text-align: center">

    <h5 class="found_transporter_text"><span style="color: #256cdf">4 People</span> found the transporter they needed!
    </h5>

  </div>

  <div id="quote_icon" style="text-align: center;">
    <i class="fa fa-quote-right fa-4x" style="color: #319dff;"></i>
  </div>

</div>

<div id="get_instant_quote" style="height: 250px; width: 100%; margin: 60px auto;">

  <div style="height: 10%; width: 100%;"></div>

  <div id="get_instant_quote_button" style="width: 100%; height: 40%;">
    <button type="button" class="btn btn-success btn-xl">Get Instant Quote!</button>
  </div>

  <div id="special_gift_text" style="width: 100%; height: 40%;">
    <h4 class="main_header" style="float: right; color: #FFFFFF !important; margin: 30px">SPECIAL GIFT & DISCOUNT FOR
      MILITARIES</h4>
  </div>

  <div style="height: 10%; width: 100%;"></div>

</div>

<div id="stats_div" style="margin-bottom: 50px;">

  <div id="stats_left_whitespace" style="float: left; height: 100%; width: 5%;"></div>

  <div id="users" style="float: left; height: 100%; width: 18%;">

    <div id="users_stat" class="stat_figure">
      <div class="round_circle">
        <h3 class="stat_figure_header">10</h3>
      </div>
    </div>

    <div id="users_text" class="stat_name">
      <h6 style="color: #319dff; font-family: 'Trebuchet MS'; margin-top: 10px">Users</h6>
    </div>
  </div>

  <div id="transporters" style="float: left; height: 100%; width: 18%;">

    <div id="transporters_stat" class="stat_figure">
      <div class="round_circle">
        <h3 class="stat_figure_header">6</h3>
      </div>
    </div>

    <div id="transporters_text" class="stat_name">
      <h6 style="color: #319dff; font-family: 'Trebuchet MS'; margin-top: 10px">Transporters</h6>
    </div>

  </div>

  <div id="active_transports" style="float: left; height: 100%; width: 18%;">

    <div id="active_transports_stat" class="stat_figure">
      <div class="round_circle">
        <h3 class="stat_figure_header">5</h3>
      </div>
    </div>

    <div id="active_transports_text" class="stat_name">
      <h6 style="color: #319dff; font-family: 'Trebuchet MS'; margin-top: 10px">Active Transports</h6>
    </div>
  </div>

  <div id="completed_transports" style="float: left; height: 100%; width: 18%;">

    <div id="ucompleted_transports_stat" class="stat_figure">
      <div class="round_circle">
        <h3 class="stat_figure_header">0</h3>
      </div>
    </div>

    <div id="completed_transports_text" class="stat_name">
      <h6 style="color: #319dff; font-family: 'Trebuchet MS'; margin-top: 10px">Completed Transports</h6>
    </div>
  </div>

  <div id="reviewed_transports" style="float: left; height: 100%; width: 18%;">

    <div id="reviewed_transports_stat" class="stat_figure">
      <div class="round_circle">
        <h3 class="stat_figure_header">4</h3>
      </div>
    </div>

    <div id="reviewed_transports_text" class="stat_name">
      <h6 style="color: #319dff; font-family: 'Trebuchet MS'; margin-top: 10px">Reviewed Transports</h6>
    </div>
  </div>

  <div id="stats_right_whitespace" style="float: right; height: 100%; width: 5%;"></div>

</div>

<div id="why_choose_us_header">
  <h2 class="main_header">Why Choose Us?</h2>
</div>

<div id="why_choose_us_content" style="height: 300px; width: 100%; margin-bottom: 40px">

  <div id="why_choose_us_left_whitespace" style="float: left; height: 100%; width: 10%;"></div>

  <div id="why_choose_us_first" class="why_choose_us_box">

    <div id="why_choose_us_first_image" class="why_choose_us_image" style="height: 200px;">
      <img src="../../assets/img/why1.png" alt="why_choose_us1" style="max-height: 100%">
    </div>

    <div id="why_choose_us_first_text" class="why_choose_us_text">
      <div class="why_choose_us_text">
        <h6><i class="fa fa-check mr-2" style="color: #41ff31;"></i>Save money!</h6>
        <h6><i class="fa fa-check mr-2" style="color: #41ff31;"></i>Dont waste time!</h6>
      </div>
    </div>

  </div>

  <div id="why_choose_us_second" class="why_choose_us_box">

    <div id="why_choose_us_second_image" class="why_choose_us_image" style="height: 200px;">
      <img src="../../assets/img/why2.png" alt="why_choose_us2" style="max-height: 100%">
    </div>

    <div id="why_choose_us_second_text" class="why_choose_us_text">
      <div class="why_choose_us_text">
        <h6><i class="fa fa-check mr-2" style="color: #41ff31;"></i>Avoid making calls!</h6>
        <h6><i class="fa fa-check mr-2" style="color: #41ff31;"></i>Get email for every new offer!</h6>
      </div>
    </div>

  </div>

  <div id="why_choose_us_third" class="why_choose_us_box">

    <div id="why_choose_us_third_image" class="why_choose_us_image" style="height: 200px;">
      <img src="../../assets/img/why3.png" alt="why_choose_us3" style="max-height: 100%">
    </div>

    <div id="why_choose_us_third_text" class="why_choose_us_text">
      <div class="why_choose_us_text">
        <h6><i class="fa fa-check mr-2" style="color: #41ff31;"></i>Its free!</h6>
        <h6><i class="fa fa-check mr-2" style="color: #41ff31;"></i>Choose the best transporter!</h6>
      </div>
    </div>

  </div>

  <div id="why_choose_us_right_whitespace" style="float: right; height: 100%; width: 10%;"></div>

</div>

<div id="receive_quick_quotes_content">

  <div id="receive_quick_quotes_header">
    <h3 class="main_header">Receive Quick Quotes</h3>
  </div>

  <div id="receive_quick_quotes_text">
    <h6 class="main_header" style="font-weight: 100 !important;">Transportation all over the world!<br>Greece, Cyprus,
      United Kingdom, France, Germany, Italy, Spain, Europe, USA, Asia, China</h6>
  </div>

  <div id="receive_quick_quotes_button" style="text-align: center">
    <button type="button" class="btn btn-success btn-xl">Get Quick Quotes</button>
  </div>

</div>

<div id="footer" style="width: 100%; text-align: center; margin-bottom: 5px">
  <p style="color: gray;">&copy; 2019 FortigoMou. All rights reserved. <a>Terms Of Use</a> | <a>Privacy Policy</a></p>
</div>
