::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: green;
  color: #FFFFFF;
  font-family: "Trebuchet MS";
}

#stepper {

  width: 80%;
  float: left;
  height: 100%

}

.collapsible {
  background-color: #319dff;
  color: white;
  cursor: pointer;
  padding: 18px;
  margin-top: 10px;
  width: 100%;
  border: none;
  height: 70px;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Trebuchet MS";
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.list_button {

  font-family: "Trebuchet MS";
  font-weight: 700;
  line-height: 60px;
  height: 60px;
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;

}

.list_button:hover {
  color: #319dff;
}

.form_input {

  width: 100%;
  height: 30px;
  background: #cccccc;
  border: none;

}

.list_preview {

  font-family: "Trebuchet MS";
  font-weight: 700;
  line-height: 60px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgray;

}






.checkbox {
  padding-left: 20px;
  margin-top: 20px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}

.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}


.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}


.checkbox-success input[type="checkbox"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after {
  background-color: #fff;
}

input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after {
  color: #fff;
}
